
@import '../../../assets/scss/model.scss';

.change-password-div {
    .inputs {

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
}