@import '../../../assets/scss/color.scss';
@import '../../../assets/scss/model.scss';

.change-password-div {
    .inputs {

        .button-div {
            margin-top: 10px;

            button {
                @include normalButton();
                width: 100%;
                background-color: $blue_color;

                span {
                    font-size: 17px;
                }

                .hide {
                    display: none;
                }
            }
        }
    }
}