@import '../../../assets/scss/model.scss';

.my-prospects-list-page-div {
    .page-border-div {
        .date-div {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            color: var(--text-c2);

            svg {
                color: var(--text-c2);
                font-size: 22px;
                cursor: pointer;
            }

            input {
                width: 0;
                height: 0;
                border: none;
                visibility: hidden;
            }
        }

        .list-div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 15px;

            .item-div {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                background-color: var(--background-opt-secondary-9);
                padding: 10px 15px;
                border-radius: 15px;
                cursor: pointer;

                .left-div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    p {
                        font-weight: 500;
                        @include threeDots(2);
                        font-size: 15px;

                        span {
                            color: var(--text-c2);
                            font-size: 14px;
                        }
                    }
                }

                .right-div {
                    text-align: end;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    min-width: max-content;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 10px;

                        svg {
                            font-size: 20px;
                        }
                    }

                    .status-div {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 3px;

                        p {
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }

                    .Completed {
                        color: var(--color-success);
                    }

                    .Cancelled {
                        color: var(--color-error);
                    }
                }
            }
        }

        .app-icon-div {
            position: fixed;
            bottom: 80px;
            right: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }
}