@import '../../../assets/scss/color.scss';
@import '../../../assets/scss/model.scss';

.edit-works-list {
    .list-div {

        max-height: calc(80vh - 141px);
        overflow-y: auto;
        @include scrollBar();
        ol {
            padding: 0 0 0 20px;
            font-size: 13px;
            li {
                margin: 10px 0;
            }
        }
        .no-work {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    .add-box {
        margin-top: 25px;
    }
}