@use '../../../assets/scss/ui/theme';

.staff-list-page-div {
    position: relative;

    .table-div {

        td {
            .button-div {
                display: flex;
                justify-content: center;

                button {
                    background-color: var(--color-info);
                }
            }
        }
    }
}