
@import '../../../assets/scss/model.scss';

.add-staff-div {
    .boarder {

      

        form {
            .sections {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
            }

            .actions {
                display: flex;
                justify-content: flex-end;

                button {
                  
                    margin-top: 15px;
                    width: 150px;
                }
            }
        }

    }

    @media screen and (max-width:550px) {
        .boarder {
            form {
                .sections {
                    grid-template-columns: 1fr;
                }
            }

        }
    }

  
}