@import '../../../assets/scss/model.scss';

.add-staff-div {
    .boarder {
        form {

            h3 {
                font-weight: 500;
                color: var(--text-c2);
                margin: 10px 0;
            }

            .sections {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
            }

            .actions {
                button {
                    margin-top: 15px;
                    width: 100%;
                }
            }
            
        }

    }

    @media screen and (max-width:550px) {
        .boarder {
            form {
                .sections {
                    grid-template-columns: 1fr;
                }
            }

        }
    }


}