@use "sass:color";
@use '../../../assets/scss/ui/theme';
@use '../../../assets/scss/ui/var-color' as *;
@import '../../../assets/scss/model.scss';

.change-theme-div {
    .input-options {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 20px 0;

        .box-input-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--background-c2);
            padding: 15px 15px;
            width: 90px;
            gap: 5px;

            svg {
                font-size: 28px;
            }

            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            cursor: pointer;
            border: 2px solid var(--border-primary);

            &:hover {
                border: 2px solid var(--background-tertiary);
            }

        }

        .active {
            background-color: #{color.adjust($aws-color-light-theme-violet-70,$alpha : -0.8)};
            border: 2px solid var(--background-tertiary);
            color: var(--background-tertiary);
        }
    }
}