@use '../../../assets/scss/ui/var-color' as *;

.date-bar-div {
    .main-box {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;

        .items-div {
            width: 100%;
            display: inline-flex;
            gap: 10px;
            padding: 7px 0;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .item-box {
                background-color: var(--background-c2);
                color: var(--text-c1);
                text-align: center;
                width: 55px;
                min-width: 55px;
                padding: 8px 0;
                border-radius: 18px;
                -webkit-border-radius: 18px;
                -moz-border-radius: 18px;
                -ms-border-radius: 18px;
                -o-border-radius: 18px;
                cursor: pointer;
                position: relative;

                &:hover {
                    opacity: .8;
                }

                .content {
                    h3 {
                        font-size: 21px;
                    }

                    h5 {
                        font-size: 12px;
                        margin-top: -3px;
                    }
                }

                .count {
                    font-size: 12px;
                    font-weight: 600;
                    background-color: var(--background-secondary);
                    position: absolute;
                    color: var(--text-secondary);
                    padding: 1px 6px 1px 6px;
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    top: -5px;
                    right: -5px;
                }
            }





            .leave {
                background-color: var(--color-warning);
                color: var(--text-secondary);
            }

            .sunday {
                background-color: var(--color-error);
                color: #{$aws-color-white};
            }

            .active {
                background-color: var(--background-tertiary);
                color: #{$aws-color-white};
            }


        }

        .icon-button-boarder {
            width: 50px;
            height: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon-button-div {
                span {
                    margin-top: 5px;
                }

                background-color: var(--background-c2);
                color: var(--text-primary);
                width: 30px;
                height: 30px;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                -ms-border-radius: 100px;
                -o-border-radius: 100px;
                box-shadow: var(--shadow-02);
                font-size: 18px;
                display: grid;
                place-content: center;
                cursor: pointer;
            }


        }

        .left {
            left: -2px;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--background-primary) 44%);
        }

        .right {
            right: -2px;
            background: linear-gradient(95deg, rgba(255, 255, 255, 0) 0%, var(--background-primary) 44%);
        }

    }
}