@import '../../../assets/scss/color.scss';

.date-bar-div {
    .main-box {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;

        .items-div {
            width: calc(100% - 50px);
            display: inline-flex;
            gap: 10px;
            padding-top: 10px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .item-box {
                background-color: rgb(224, 224, 224);
                color: rgb(77, 77, 77);
                text-align: center;
                width: 55px;
                min-width: 55px;
                padding: 8px 0;
                border-radius: 18px;
                -webkit-border-radius: 18px;
                -moz-border-radius: 18px;
                -ms-border-radius: 18px;
                -o-border-radius: 18px;
                cursor: pointer;
                position: relative;

                &:hover {
                    opacity: .8;
                }

                .content {
                    h3 {
                        font-size: 19px;
                    }

                    h5 {
                        font-size: 10px;
                    }
                }

                .count {
                    font-size: 12px;
                    font-size: 500;
                    background-color: rgb(36, 36, 36);
                    position: absolute;
                    color: white;
                    padding: 1px 5px 1px 5px;
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    top: -5px;
                    right: -5px;
                }
            }





            .leave {
                background-color: rgb(206, 158, 2);
                color: white;
            }

            .sunday {
                background-color: $red_color;
                color: white;
            }

            .active {
                background-color: $blue_color;
                color: white;
            }


        }


        .icon-button-div {
            span {
                margin-top: 5px;
            }

            background-color: white;
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
            box-shadow: 0px 0px 8px rgb(199, 199, 199);
            font-size: 18px;
            display: grid;
            place-content: center;
            top: 55%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            cursor: pointer;
        }

        .left {
            left: -13px;
        }

        .right {
            right: -13px;
        }

        .button-none-visible {}
    }
}