

.table-for-analyze {
    .boarder {
        margin-top: 20px;
        overflow-x: auto;

        table {
            font-size: 13px;
            font-weight: 500;

            thead {
                tr {
                    th {
                        font-size: 13px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border-bottom: 1px solid var(--background-c2);
                        text-align: center;
                        border-left: 1px var(--background-c2) dashed;
                        border-right: 1px var(--background-c2) dashed;
                    }

                    .name {
                        text-align: left;
                    }

                    .button-div {
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                    }
                }
            }
        }
    }
}