.leave-reg-div {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .choose-type-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        button {
            width: 100%;
        }

    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .custom-calendar-theme {
        --rmdp-primary: #4caf50; /* Primary color */
        --rmdp-background: #f0f8ff; /* Background color */
        --rmdp-color: #333; /* Text color */
        --rmdp-border: #4caf50; /* Border color */
      }
}