$aws-color-neutral-light-70: #f9f9fb;
$aws-color-neutral-light-80: #f2f1f1;
$aws-color-neutral-light-90: #ebeaea;

$aws-color-neutral-10: #e2e2e2;
$aws-color-neutral-20: #cdcdcd;
$aws-color-neutral-30: #b3b3b3;
$aws-color-neutral-40: #9e9e9e;
$aws-color-neutral-50: #858585;
$aws-color-neutral-60: #696969;
$aws-color-neutral-70: #4e4e4e;
$aws-color-neutral-75: #313131;
$aws-color-neutral-80: #242424;
$aws-color-neutral-90: #161616;


$aws-color-light-theme-blue: #0085f2;
$aws-color-light-theme-green: #009a46;
$aws-color-light-theme-yellow: #927c00;
$aws-color-light-theme-red: #d30038;
$aws-color-light-theme-violet: #9b65ff;
$aws-color-light-theme-pink: #d00058;

$aws-color-dark-theme-blue: $aws-color-light-theme-blue;
$aws-color-dark-theme-green: $aws-color-light-theme-green;
$aws-color-dark-theme-yellow: $aws-color-light-theme-yellow;
$aws-color-dark-theme-red: $aws-color-light-theme-red;
$aws-color-dark-theme-violet: $aws-color-light-theme-violet;
$aws-color-dark-theme-pink: $aws-color-light-theme-pink;

$aws-color-light-theme-blue-10: #dce2f2;
$aws-color-light-theme-blue-20: #c1cff1;
$aws-color-light-theme-blue-30: #8cb4ff;
$aws-color-light-theme-blue-40: #5e9eff;
$aws-color-light-theme-blue-50: #0085f2;
$aws-color-light-theme-blue-60: #0069c2;
$aws-color-light-theme-blue-70: #004d92;
$aws-color-light-theme-blue-80: #003465;
$aws-color-light-theme-blue-90: #001b3a;

$aws-color-dark-theme-blue-10: $aws-color-light-theme-blue-10;
$aws-color-dark-theme-blue-20: $aws-color-light-theme-blue-20;
$aws-color-dark-theme-blue-30: $aws-color-light-theme-blue-30;
$aws-color-dark-theme-blue-40: $aws-color-light-theme-blue-40;
$aws-color-dark-theme-blue-50: $aws-color-light-theme-blue-50;
$aws-color-dark-theme-blue-60: $aws-color-light-theme-blue-60;
$aws-color-dark-theme-blue-70: $aws-color-light-theme-blue-70;
$aws-color-dark-theme-blue-80: $aws-color-light-theme-blue-80;
$aws-color-dark-theme-blue-90: $aws-color-light-theme-blue-90;

$aws-color-light-theme-green-10: #a9f3ba;
$aws-color-light-theme-green-20: #73e693;
$aws-color-light-theme-green-30: #00d061;
$aws-color-light-theme-green-40: #00b755;
$aws-color-light-theme-green-50: #009a46;
$aws-color-light-theme-green-60: #007936;
$aws-color-light-theme-green-70: #005a26;
$aws-color-light-theme-green-80: #003d18;
$aws-color-light-theme-green-90: #00210a;

$aws-color-dark-theme-green-10: $aws-color-light-theme-green-10;
$aws-color-dark-theme-green-20: $aws-color-light-theme-green-20;
$aws-color-dark-theme-green-30: $aws-color-light-theme-green-30;
$aws-color-dark-theme-green-40: $aws-color-light-theme-green-40;
$aws-color-dark-theme-green-50: $aws-color-light-theme-green-50;
$aws-color-dark-theme-green-60: $aws-color-light-theme-green-60;
$aws-color-dark-theme-green-70: $aws-color-light-theme-green-70;
$aws-color-dark-theme-green-80: $aws-color-light-theme-green-80;
$aws-color-dark-theme-green-90: $aws-color-light-theme-green-90;

$aws-color-light-theme-yellow-10: #f0e498;
$aws-color-light-theme-yellow-20: #dfd172;
$aws-color-light-theme-yellow-30: #c7b700;
$aws-color-light-theme-yellow-40: #afa100;
$aws-color-light-theme-yellow-50: #938700;
$aws-color-light-theme-yellow-60: #746a00;
$aws-color-light-theme-yellow-70: #564e00;
$aws-color-light-theme-yellow-80: #3a3500;
$aws-color-light-theme-yellow-90: #1f1c00;

$aws-color-dark-theme-yellow-10: $aws-color-light-theme-yellow-10;
$aws-color-dark-theme-yellow-20: $aws-color-light-theme-yellow-20;
$aws-color-dark-theme-yellow-30: $aws-color-light-theme-yellow-30;
$aws-color-dark-theme-yellow-40: $aws-color-light-theme-yellow-40;
$aws-color-dark-theme-yellow-50: $aws-color-light-theme-yellow-50;
$aws-color-dark-theme-yellow-60: $aws-color-light-theme-yellow-60;
$aws-color-dark-theme-yellow-70: $aws-color-light-theme-yellow-70;
$aws-color-dark-theme-yellow-80: $aws-color-light-theme-yellow-80;
$aws-color-dark-theme-yellow-90: $aws-color-light-theme-yellow-90;

$aws-color-light-theme-red-10: #ffd9dc;
$aws-color-light-theme-red-20: #ffc0c4;
$aws-color-light-theme-red-30: #ff97a0;
$aws-color-light-theme-red-40: #ff707f;
$aws-color-light-theme-red-50: #ff2a51;
$aws-color-light-theme-red-60: #d30038;
$aws-color-light-theme-red-70: #9e0027;
$aws-color-light-theme-red-80: #6f0019;
$aws-color-light-theme-red-90: #40000a;

$aws-color-dark-theme-red-10: $aws-color-light-theme-red-10;
$aws-color-dark-theme-red-20: $aws-color-light-theme-red-20;
$aws-color-dark-theme-red-30: $aws-color-light-theme-red-30;
$aws-color-dark-theme-red-40: $aws-color-light-theme-red-40;
$aws-color-dark-theme-red-50: $aws-color-light-theme-red-50;
$aws-color-dark-theme-red-60: $aws-color-light-theme-red-60;
$aws-color-dark-theme-red-70: $aws-color-light-theme-red-70;
$aws-color-dark-theme-red-80: $aws-color-light-theme-red-80;
$aws-color-dark-theme-red-90: $aws-color-light-theme-red-90;

$aws-color-light-theme-violet-10: #e6deff;
$aws-color-light-theme-violet-20: #d4c5ff;
$aws-color-light-theme-violet-30: #bea5ff;
$aws-color-light-theme-violet-40: #ae8aff;
$aws-color-light-theme-violet-50: #9b65ff;
$aws-color-light-theme-violet-60: #872bff;
$aws-color-light-theme-violet-70: #6800cf;
$aws-color-light-theme-violet-80: #480091;
$aws-color-light-theme-violet-90: #280056;

$aws-color-dark-theme-violet-10: $aws-color-light-theme-violet-10;
$aws-color-dark-theme-violet-20: $aws-color-light-theme-violet-20;
$aws-color-dark-theme-violet-30: $aws-color-light-theme-violet-30;
$aws-color-dark-theme-violet-40: $aws-color-light-theme-violet-40;
$aws-color-dark-theme-violet-50: $aws-color-light-theme-violet-50;
$aws-color-dark-theme-violet-60: $aws-color-light-theme-violet-60;
$aws-color-dark-theme-violet-70: $aws-color-light-theme-violet-70;
$aws-color-dark-theme-violet-80: $aws-color-light-theme-violet-80;
$aws-color-dark-theme-violet-90: $aws-color-light-theme-violet-90;

$aws-color-light-theme-pink-10: #ffd9df;
$aws-color-light-theme-pink-20: #ffbbc8;
$aws-color-light-theme-pink-30: #ff93aa;
$aws-color-light-theme-pink-40: #ff6d91;
$aws-color-light-theme-pink-50: #ff1f72;
$aws-color-light-theme-pink-60: #d00058;
$aws-color-light-theme-pink-70: #9e0041;
$aws-color-light-theme-pink-80: #6d002b;
$aws-color-light-theme-pink-90: #3f0015;

$aws-color-dark-theme-pink-10: $aws-color-light-theme-pink-10;
$aws-color-dark-theme-pink-20: $aws-color-light-theme-pink-20;
$aws-color-dark-theme-pink-30: $aws-color-light-theme-pink-30;
$aws-color-dark-theme-pink-40: $aws-color-light-theme-pink-40;
$aws-color-dark-theme-pink-50: $aws-color-light-theme-pink-50;
$aws-color-dark-theme-pink-60: $aws-color-light-theme-pink-60;
$aws-color-dark-theme-pink-70: $aws-color-light-theme-pink-70;
$aws-color-dark-theme-pink-80: $aws-color-light-theme-pink-80;
$aws-color-dark-theme-pink-90: $aws-color-light-theme-pink-90;

$aws-color-black: #000;
$aws-color-white: #fff;
$aws-color-primary: #008000;

$aws-color-light-theme-primary-10: #87E80D;
$aws-color-light-theme-primary-20: #70E000;
$aws-color-light-theme-primary-30: #54C800;
$aws-color-light-theme-primary-40: #38B000;
$aws-color-light-theme-primary-50: #1C9800;
$aws-color-light-theme-primary-60: #008000;  //primary
$aws-color-light-theme-primary-70: #007200;
$aws-color-light-theme-primary-80: #006400;
$aws-color-light-theme-primary-90: #005812;



$aws-color-dark-theme-primary-10: $aws-color-light-theme-primary-10;
$aws-color-dark-theme-primary-20: $aws-color-light-theme-primary-20;
$aws-color-dark-theme-primary-30: $aws-color-light-theme-primary-30;
$aws-color-dark-theme-primary-40: $aws-color-light-theme-primary-40;
$aws-color-dark-theme-primary-50: $aws-color-light-theme-primary-50;
$aws-color-dark-theme-primary-60: $aws-color-light-theme-primary-60;
$aws-color-dark-theme-primary-70: $aws-color-light-theme-primary-70;
$aws-color-dark-theme-primary-80: $aws-color-light-theme-primary-80;
$aws-color-dark-theme-primary-90: $aws-color-light-theme-primary-90;

$aws-theme-light-text-primary: $aws-color-neutral-90;
$aws-theme-light-text-secondary: $aws-color-neutral-10;
$aws-theme-light-background-primary: $aws-color-neutral-light-70;
$aws-theme-light-background-secondary: $aws-color-black;
$aws-theme-light-border-primary: $aws-color-neutral-20;
$aws-theme-light-border-secondary: $aws-color-neutral-20;
$aws-theme-light-border-success: $aws-color-light-theme-green-20;
$aws-theme-light-button-primary-default: $aws-color-neutral-90;
$aws-theme-light-button-primary-hover: $aws-color-neutral-60;
$aws-theme-light-button-primary-active: $aws-color-neutral-40;
$aws-theme-light-button-primary-inactive: $aws-color-neutral-90;
$aws-theme-light-button-secondary-default: $aws-color-white;
$aws-theme-light-button-secondary-hover: $aws-color-neutral-20;
$aws-theme-light-button-secondary-active: $aws-color-neutral-20;
$aws-theme-light-button-secondary-inactive: $aws-color-neutral-light-70;
$aws-theme-light-button-secondary-border-focus: $aws-color-light-theme-blue-50;
$aws-theme-light-button-secondary-border-red: $aws-color-light-theme-red-30;
$aws-theme-light-button-secondary-border-red-focus: $aws-color-light-theme-red-10;
$aws-theme-light-icon-primary: $aws-color-neutral-60;
$aws-theme-light-icon-secondary: $aws-color-neutral-30;
$aws-theme-light-icon-information: $aws-color-light-theme-blue-50;
$aws-theme-light-icon-warning: $aws-color-light-theme-red-50;
$aws-theme-light-icon-success: $aws-color-light-theme-green-60;
$aws-theme-light-focus-01: 0 0 0 3px rgba(0, 144, 237, 0.4);
$aws-theme-light-shadow-01: 0px 10px 10px rgba(43, 42, 51, 0.2);
$aws-theme-light-shadow-02: 0 1px 6px rgba(43, 42, 51, 0.1);

$aws-theme-dark-text-primary: $aws-color-white;
$aws-theme-dark-text-secondary: $aws-color-neutral-90;
$aws-theme-dark-background-primary: $aws-color-neutral-90;
$aws-theme-dark-background-secondary: $aws-color-neutral-10;
$aws-theme-dark-border-primary: $aws-color-neutral-50;
$aws-theme-dark-border-secondary: $aws-color-neutral-60;
$aws-theme-dark-border-success: $aws-color-dark-theme-green-20;
$aws-theme-dark-button-primary-default: $aws-color-white;
$aws-theme-dark-button-primary-hover: $aws-color-neutral-20;
$aws-theme-dark-button-primary-active: $aws-color-neutral-40;
$aws-theme-dark-button-primary-inactive: $aws-color-white;
$aws-theme-dark-button-secondary-default: $aws-color-neutral-70;
$aws-theme-dark-button-secondary-hover: $aws-color-neutral-50;
$aws-theme-dark-button-secondary-active: $aws-color-neutral-40;
$aws-theme-dark-button-secondary-inactive: $aws-color-neutral-70;
$aws-theme-dark-icon-primary: $aws-color-white;
$aws-theme-dark-icon-secondary: $aws-color-neutral-30;
$aws-theme-dark-icon-information: $aws-color-dark-theme-blue-40;
$aws-theme-dark-icon-warning: $aws-color-dark-theme-yellow-40;
$aws-theme-dark-icon-success: $aws-color-dark-theme-green-40;
$aws-theme-dark-field-focus-border: $aws-color-white;
$aws-theme-dark-focus-01: 0 0 0 3px rgba(251, 251, 254, 0.5);
$aws-theme-dark-shadow-01: 0px 10px 10px rgba(43, 42, 51, 0.2);
$aws-theme-dark-shadow-02: 0 1px 6px rgba(141, 141, 141, 0.2);

$screen-sm: 426px;
$screen-md: 769px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1441px;