@use '../../../assets/scss/ui/theme';
@use '../../../assets/scss/ui/var-color' as *;

.single-button-comp-div {
    button {
        border: none;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        font-size: 13px;
        font-weight: 500;
        padding: 10px 13px;
        text-align: center;
        color: var(--text-secondary);
        background-color: var(--background-secondary);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        &:hover {
            opacity: .8;
        }

        /* HTML: <div class="loader"></div> */
        .loader {
            width: 30px;
            aspect-ratio: 4;
            --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
            background:
                var(--_g) 0% 50%,
                var(--_g) 50% 50%,
                var(--_g) 100% 50%;
            background-size: calc(100%/3) 100%;
            animation: l7 1s infinite linear;
        }

    }

    .sm {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        font-size: 11px;
        font-weight: 500;
        padding: 7px 13px;
    }

    .md {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        font-size: 13px;
        font-weight: 500;
        padding: 10px 13px;
    }

    .lg {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        font-size: 15px;
        font-weight: 600;
        padding: 13px 17px;
    }

    .xl {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 22px;
    }

    .btn-primary {
        color: var(--text-secondary);
        background-color: var(--background-secondary);

        .loader {
            --_g: no-repeat radial-gradient(circle closest-side, var(--text-secondary) 90%, #0000);
        }
    }

    .btn-secondary {
        color: var(--text-primary);
        background-color: var(--background-primary);
        border: 1px solid var(--border-primary);

        .loader {
            --_g: no-repeat radial-gradient(circle closest-side, var(--text-primary) 90%, #b4030300);
        }
    }

    .btn-tertiary {
        color: #{$aws-color-white};
        background-color: var(--background-tertiary);

        .loader {
            --_g: no-repeat radial-gradient(circle closest-side, #{$aws-color-white} 90%, #b4030300);
        }
    }

    .btn-gray {
        color: #{$aws-color-white};
        background-color: var(--background-c3);

        .loader {
            --_g: no-repeat radial-gradient(circle closest-side, #{$aws-color-white} 90%, #0000);
        }
    }

    .btn-blue {
        color: #{$aws-color-white};
        background-color: var(--color-info);

        .loader {
            --_g: no-repeat radial-gradient(circle closest-side, #{$aws-color-white} 90%, #0000);
        }
    }

    .btn-danger {
        color: #{$aws-color-white};
        background-color: var(--color-error);

        .loader {
            --_g: no-repeat radial-gradient(circle closest-side, #{$aws-color-white} 90%, #0000);
        }
    }

    .txt-start {
        justify-content: start;
    }

    .txt-center {
        justify-content: center;
    }

    .txt-end {
        justify-content: end;
    }

    .icon-only {
        padding: 8px 10px;
        font-size: 22px;
    }



    @keyframes l7 {
        33% {
            background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
        }

        50% {
            background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
        }

        66% {
            background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
        }
    }


}