.spin-with-full-view,
.spin-with-message {
    .spinner-body {
        width: 150px;
        padding: 15px 20px;
        text-align: center;

        .load-div {
            font-size: 50px;
            color: rgb(92, 92, 92);
        }

        .spin-div {
            svg {
                animation: iconLoading 1.5s linear infinite;
                -webkit-animation: iconLoading 1.5s linear infinite;
            }

            @keyframes iconLoading {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .loading-image {
            img {
                width: 100px;
            }
        }

        .message {
            p {
                font-size: 14px;
                font-weight: 500;
                color: gray;
            }
        }
    }
}


.spin-with-full-view {
    .spinner-body {
        width: 100%;
        height: 300px;
        display: grid;
        place-content: center;
    }
}