@import '../../../assets/scss/model.scss';

.first-page-user {
    position: relative;

    .container {
      

        .bottom {
            margin-top: 20px;

            .boader {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 12px;
                box-sizing: border-box;

                .button-div {
                    button {
                        @include normalButton();
                        width: 100%;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        font-size: 12px;
                    }
                }
            }
        }
    }


    @media screen and (max-width:900px) {
        .container {
            .bottom {
                .boader {
                    grid-template-columns: 1fr 1fr 1fr ;
                }
            }
        }
    }
    @media screen and (max-width:650px) {
        .container {
            .bottom {
                .boader {
                    grid-template-columns: 1fr 1fr  ;
                }
            }
        }
    }
    @media screen and (max-width:490px) {
        .container {
            .bottom {
                .boader {
                    grid-template-columns: 1fr ;
                }
            }
        }
    }
}