@import '../../../assets/scss/model.scss';

.not-found {

    /* card */
    .main {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        overflow: hidden;
    }

    /* image */
    .main .image {

        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .main .image img {
        max-width: 50%;
        user-select: none;
        -webkit-animation: fly 4s linear infinite;
        -o-animation: fly 4s linear infinite;
        animation: fly 4s linear infinite;
    }

    @keyframes fly {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(10px);
        }
    }

    /* text 404 */
    .main .text-404 {

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .text-404 h1 {
        font-size: 7.5em;
    }

    .main .text-404 p {
        font-size: 1.5em;
        margin-bottom: 25px;
    }




}