@use '../../../assets/scss/ui/theme';

.login-comp {
    .boader {
        width: 100%;
        height: calc(100vh - 50px);
        display: grid;
        place-content: center;
        padding: 10px;

        .box {
            width: 350px;
            max-width: 100%;
            box-shadow: var(--shadow-02);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            padding: 15px;
            background-color: var(--background-c1);

            .header {
                text-align: center;
                margin: 15px;

            }

            .inputs {
                .input-div {
                    margin-bottom: 10px;
                    position: relative;

                    input {
                        width: 100%;
                        padding: 10px 15px;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                        outline: none;
                        border: 1px solid var(--border-primary);
                        margin-top: 5px;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    select {
                        width: 100%;
                        padding: 10px 15px;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                        outline: none;
                        border: 1px solid var(--border-primary);
                        margin-top: 5px;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    label {
                        font-size: 13px;
                        font-weight: 500;
                    }

                    .icon {
                        position: absolute;
                        right: 10px;
                        bottom: 9px;
                        cursor: pointer;
                    }
                }

                .button-div {
                    button {
                        width: 100%;
                        border: none;
                        border-radius: 8px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        -ms-border-radius: 8px;
                        -o-border-radius: 8px;
                        color: var(--text-secondary);
                        font-size: 15px;
                        font-weight: 500;
                        text-align: center;
                        padding: 10px 15px;
                        background-color: var(--background-tertiary);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}