.staff-profile-page-div {
    display: grid;
    grid-template-columns: auto 270px;
    margin-top: 20px;

    .section-one-div {
        order: 1;
        padding: 0 40px 0 0;

        .list-details-div {
            margin-bottom: 30px;

            h3 {
                font-weight: 500;
                color: var(--text-c1);
            }

            .pro-icon {
                color: var(--color-info);
                font-size: 15px;
                margin-left: 10px;
            }

            .list-item-div {
                display: grid;
                grid-template-columns: 35% 65%;
                gap: 5px;
                margin: 10px 0;

                span {
                    &:first-child {
                        color: var(--text-c2);
                        font-size: 15px;
                    }

                    &:last-child {
                        font-size: 15px;
                        display: flex;
                    }

                    .verify {
                        font-size: 12px;
                        margin-left: 15px;
                    }

                    .ok {
                        color: var(--color-success);
                    }

                    .not-ok {
                        color: var(--color-error);
                    }
                }
            }

        }

        .reg-work-div {
            .title {
                display: flex;
                align-items: center;
                gap: 15px;

                h3 {
                    font-weight: 500;
                    color: var(--text-c1);
                }
            }
        }

    }

    .section-two-div {
        order: 2;

        .section-border {
            padding: 20px 0 20px 20px;
            border-left: 1px solid var(--border-primary);
            display: block;
            margin-bottom: 25px;
            position: sticky;
            top: 0px;

            ul {
                list-style-position: outside;
                margin-left: 17px;
                margin-top: 10px;
                padding: 0;
                line-height: 30px;

                li {
                    font-size: 15px;
                    cursor: pointer;
                    text-decoration: underline;
                    color: var(--text-c2);
                }
            }

            .small {
                display: none;
            }

            .big {
                display: grid;
                gap: 10px;
                margin-top: 30px;
            }


        }
    }
}

@media screen and (max-width:850px) {
    .staff-profile-page-div {
        grid-template-columns: 1fr;

        .section-one-div {
            order: 2;
        }

        .section-two-div {
            order: 1;

            .section-border {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 20px 0 20px 0px;
                border-left: none;
                position: static;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .staff-profile-page-div {

        .section-two-div {

            .section-border {
                display: block;


                .small {
                    display: flex;
                    gap: 10px;
                    margin-top: 30px;

                    >div {
                        width: 100%;
                    }

                }

                .big {
                    display: none;
                }
            }
        }
    }
}