.work-analyze-page-div {
    margin-top: 25px;

    .find-form-div {

        form {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
        }
    }

    .analyze-content-div {
        margin-top: 20px;
    }
}