@import '../../../assets/scss/model.scss';

.software-origins-page-div {
    margin-top: 20px;

    .section-content {
        width: 100%;

        .box-header {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 15px;

            .box {
                width: 220px;
                cursor: pointer;
                border: 2px solid var(--text-c3);
                border-radius: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 25px 15px;
                position: relative;

                .icon-div {
                    width: 60px;
                    height: 60px;
                    border: 1px solid var(--text-c3);
                    border-radius: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    margin-top: 10px;

                    h3 {
                        font-size: 15px;
                        font-weight: 500;
                        text-align: center;
                    }

                    p {
                        font-size: 13px;
                        color: var(--text-c2);
                        text-align: center;
                        @include threeDots(2)
                    }
                }

                .label-div {
                    position: absolute;
                    background-color: var(--background-c2);
                    padding: 5px 15px;
                    right: 0;
                    top: 0;
                    border-bottom-left-radius: 15px;
                    border-top-right-radius: 18px;

                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }

}