@import '../../../assets/scss/model.scss';
@import '../../../assets/scss/color.scss';

.designationList-page-div {

    .table-div {

        .buttons {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

    }

}