.leave-reg-div {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .choose-type-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        button {
            width: 100%;
        }

    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }
}