.work-report-page-div {
    margin-top: 25px;

    .main {
        .top-bar {

            display: flex;
            justify-content: space-between;
            gap: 10px;

            .left {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .right {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                >div {
                    text-align: center;
                    width: max-content;

                    p {
                        font-size: 13px;
                        font-weight: 600;
                        margin-bottom: 5px;

                    }

                    div {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }


        .content {
            margin-top: 15px;
            overflow: auto;

        }
    }
}