@import '../../../assets/scss/color.scss';
@import '../../../assets/scss/model.scss';



.edit-text-input {
    width: 100%;

    &:hover {
        background-color: ghostwhite;
    }

    div {

        display: flex;
        align-items: center;

        .item-div {
            width: 100%;
            // max-width: calc(100% - 70px);
            max-width: calc(100% - 30px);

            p {
                word-wrap: break-word;

            }

            .text-input {
                width: 100%;
                font-size: 13px;
            }
        }

        .actions {
            button {
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                -ms-border-radius: 100px;
                -o-border-radius: 100px;
                @include smallButton();
                @include iconInButton();
                font-size: 15px;
                border-radius: 100px;
                margin: 0 2px;
                width: 30px;
                height: 30px;
            }



            .delete {
                background-color: $red_color;
            }


        }
    }
}