@use '../../../assets/scss/ui/var-color' as *;
@import '../../../assets/scss/model.scss';

.punching {
    .punching-border {

        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;

        button {
            @include normalButton();
            background-color: #{$aws-color-neutral-60};
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;

            span {
                &:first-child {
                    margin-right: 10px;
                    font-size: 25px;
                }

                &:last-child {
                    font-size: 14px;
                }
            }
        }

        .punch {
            background-color: #{$aws-color-light-theme-green-60};
        }

        .opacity {
            cursor: not-allowed;
            opacity: .3;

            &:hover {
                opacity: .3;
                pointer-events: none;
            }
        }
    }
}