@use '../../../assets/scss/ui/var-color' as *;
@import '../../../assets/scss/model.scss';

.punching {
    .border {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;

        button {
            @include normalButton();
            background-color: #{$aws-color-neutral-60};
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            font-size: 12px;

            span {
                &:first-child {
                    font-size: 30px;
                }
            }
        }

        .punch {
            background-color: #{$aws-color-light-theme-green-60};
        }

        .opacity {
            cursor: not-allowed;
            display: none;
        }
    }

    @media screen and (max-width:700px) {
        .border {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width:490px) {
        .border {
            grid-template-columns: 1fr;

            button {
                display: flex;
                align-items: center;

                span {
                    &:first-child {
                        margin-right: 10px;
                        font-size: 25px;
                    }

                    &:last-child {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}