@import '../../../assets/scss/model.scss';

.punching {
    .boader {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        justify-content: center;

        button {
            @include normalButton();
            background-color: rgb(99, 99, 99);
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            font-size: 12px;
            span{
                &:first-child{
                    font-size: 30px;
                }
            }
        }

        .punch {
            background-color: seagreen;
        }

        .opacity {
            cursor: not-allowed;
            display: none;
        }
    }

    @media screen and (max-width:900px) {
        .boader {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width:600px) {
        .boader {
            grid-template-columns: 1fr;
        }
    }
    @media screen and (max-width:490px) {
        .boader {
            button{
                display: flex;
                align-items: center;
                span{
                    &:first-child{
                        margin-right: 10px;
                        font-size: 25px;
                    }
                    &:last-child{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}