@import '../../../assets/scss/color.scss';
@import '../../../assets/scss/model.scss';



.add-text-input {
    width: 100%;


    form>div {
        display: flex;
        align-items: center;
        background-color: rgba(219, 242, 255, 0.678);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 7px;



        .item-div {
            width: 100%;

            input {
                border: none;
                background: none;
                outline: none;
            }

            .text-input {
                width: 100%;
                font-size: 13px;
            }
        }

        .actions {
            display: flex;
            margin-left: 7px;
            margin-bottom: 2px;

            button {
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                -ms-border-radius: 100px;
                -o-border-radius: 100px;
                @include smallButton();
                @include iconInButton();
                font-size: 15px;
                border-radius: 100px;
                margin: 0 2px;
                width: 30px;
                height: 30px;
                background-color: $green_color;
            }
        }



    }
}