.leave-app-page-div {

    .app-icon-div {
        position: fixed;
        bottom: 80px;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .item-list-div {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .item-box {
            background-color: var(--background-opt-secondary-9);
            display: grid;
            grid-template-columns: 40px 1fr 15px;
            gap: 15px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            padding: 15px;
            position: relative;
            cursor: pointer;

            .item-icon-status {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--background-primary);
                background-color: var(--background-secondary);
                border-radius: 8px;

                svg {
                    font-size: 25px;
                }
            }

            .Approved {
                color: white;
                background-color: var(--color-success);
            }

            .Rejected {
                color: white;
                background-color: var(--color-error);
            }

            .Cancelled {
                color: white;
                background-color: var(--color-warning);
            }

            .Edited {
                color: white;
                background-color: var(--color-info);
            }

            .item-text-div {
                display: flex;
                flex-direction: column;
                gap: 3px;

                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--text-c2);
                }

                h4 {
                    font-weight: 600;
                    font-size: 15px;
                }

                .action-text {
                    position: absolute;
                    bottom: 3px;
                    right: 15px;
                    font-size: 12px;

                }
            }

            .arrow-icon-div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }












            .border-div {
                padding: 15px 15px 15px 0;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .text-list {
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-size: 13px;
                        font-weight: 500;

                        &:nth-child(2) {
                            text-align: end;
                        }
                    }

                    .bold-text {
                        font-size: 14px;
                        font-weight: 600;
                        color: var(--color-warning);
                    }

                    .reg-text {
                        color: var(--color-info);
                    }

                    .approve-text {
                        color: var(--color-success);
                    }

                    .reject-text {
                        color: var(--color-error);
                    }
                }
            }

            .action-div {
                position: absolute;
                right: 5px;
                bottom: 5px;
            }
        }
    }

    .report-info-div {
        text-align: center;
        padding: 20px 10px;

        p {
            font-size: 14px;
        }
    }

}