@import '../../../assets/scss/color.scss';
@import '../../../assets/scss/model.scss';


.more-page-div {
    .section-border {
        .option-div {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            padding: 15px 10px;
            border-bottom: 1px solid rgb(184, 184, 184);
            cursor: pointer;

            &:last-child {
                border-bottom: 0;
            }

            &:hover {
                background-color: rgb(247, 247, 247);
            }

            .left {
                display: flex;
                align-items: center;
                gap: 15px;

                svg {
                    font-size: 25px;
                }

                h4 {
                    font-size: 15px;
                    font-weight: 600;
                    @include threeDots();
                }

            }

            .right {
                >svg {
                    font-size: 22px;
                }
            }
        }

        .red-option {
            color: $red_color;

            &:hover {
                background-color: rgb(255, 237, 232);
            }
        }
    }
}