@use './assets/scss/ui/theme.scss';
@import './assets/scss/fonts.scss';

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'ConfigRounded', 'Montserrat', sans-serif;
}

body {
    overscroll-behavior-y: contain;
    background-color: var(--background-primary);
    color: var(--text-primary);
}