@use "sass:color";
@use '../../../assets/scss/ui/var-color' as *;
@import '../../../assets/scss/model.scss';


.more-page-div {
    .section-border {
        .option-div {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            padding: 15px 10px;
            border-bottom: 1px solid var(--border-primary);
            cursor: pointer;

            &:last-child {
                border-bottom: 0;
            }

            &:hover {
                background-color: var(--background-c2);
            }

            .left {
                display: flex;
                align-items: center;
                gap: 15px;

                svg {
                    font-size: 25px;
                }

                h4 {
                    font-size: 15px;
                    font-weight: 600;
                    @include threeDots();
                }

            }

            .right {
                >svg {
                    font-size: 22px;
                }
            }
        }

        .red-option {
            color: #{$aws-color-light-theme-red-50};

            &:hover {
                background-color: #{color.adjust($aws-color-light-theme-red-50, $alpha : -0.8)};
            }
        }
    }

    .software-info {
        text-align: center;
        padding: 100px 5px 0px 5px;
        font-size: 13px;
        color: var(--text-c2);
        margin-bottom: 25px;
    }
}